version: '{build}'

environment:
  matrix:
  - BUILDTYPE: MINGW
  - BUILDTYPE: VS
    platform: x64
    msvs_toolset: 14
  - BUILDTYPE: VS
    platform: x86
    msvs_toolset: 14

os: Visual Studio 2015

install:
- 'scripts\build-appveyor.cmd'

build: off
test: off
deploy: off